In [2]:
import pandas as pd
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import os

In [3]:
df = pd.read_csv("./data/bmi_500.csv")

In [4]:
df

     Gender  Height  Weight            Label
0      Male     174      96          Obesity
1      Male     189      87           Normal
2    Female     185     110          Obesity
3    Female     195     104       Overweight
4      Male     149      61       Overweight
..      ...     ...     ...              ...
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

[500 rows x 4 columns]

In [22]:
df[df.Gender == 'Male']

    Gender  Height  Weight            Label
0     Male     174      96          Obesity
1     Male     189      87           Normal
4     Male     149      61       Overweight
5     Male     189     104       Overweight
6     Male     147      92  Extreme Obesity
..     ...     ...     ...              ...
487   Male     187      80           Normal
488   Male     198     136          Obesity
494   Male     152      98  Extreme Obesity
498   Male     150      95  Extreme Obesity
499   Male     173     131  Extreme Obesity

[245 rows x 4 columns]

In [6]:
t = df.shape[0] * 0.8

In [7]:
train_x = df.loc[:t+1,'Gender':'Weight']
train_y = df.loc[:t+1, 'Label']

test_x = df.loc[t+1:,'Gender':'Weight']
test_y = df.loc[t+1:, 'Label']

In [8]:
train_x

     Gender  Height  Weight
0      Male     174      96
1      Male     189      87
2    Female     185     110
3    Female     195     104
4      Male     149      61
..      ...     ...     ...
397    Male     169     136
398  Female     149      61
399    Male     163     137
400  Female     195     104
401    Male     174     107

[402 rows x 3 columns]

In [9]:
model = KNeighborsClassifier(n_neighbors=2)
model.fit(train_x, train_y)

metrics.accuracy_score(test_x, test_y)

ValueError: could not convert string to float: 'Male'